<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons *ngIf="!showSearchbar" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar *ngIf="showSearchbar" showCancelButton="always" [(ngModel)]="queryText"
                   (ionChange)="updateSchedule()" (ionCancel)="showSearchbar = false"
                   placeholder="Search"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button *ngIf="!showSearchbar" (click)="showSearchbar = true">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!showSearchbar">
        <ion-icon name="bookmarks-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!showSearchbar" (click)="presentFilter()">
          <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="type-filter-toolbar">
    <ion-segment mode="md" [(ngModel)]="segment" (ionChange)="updateSchedule()">
      <ion-segment-button class="ion-no-padding" value="all">Expenses({{transactions.length}})</ion-segment-button>
      <ion-segment-button class="ion-no-padding" value="favorites">Income</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button class="ion-no-padding" (click)="previousMonth()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button class="ion-no-padding" (click)="nextMonth()">
        <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-datetime class="ion-text-center ion-no-padding" (ionChange)="updateFilteredTransactions()" mode="ios"
                    [(ngModel)]="selectedDate" displayFormat="MMMM YYYY"></ion-datetime>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <!--<ion-header collapse="condense">
    <ion-toolbar>
      <ion-searchbar [(ngModel)]="queryText" (ionChange)="updateSchedule()" placeholder="Search"></ion-searchbar>
    </ion-toolbar>
  </ion-header>-->

  <ion-list #scheduleList [hidden]="shownSessions === 0">
    <ion-item-group *ngFor="let group of transactions">
      <ion-item-divider sticky>
        <ion-label>
          {{group.dueDate | date : 'fullDate'}}
        </ion-label>
      </ion-item-divider>

      <ion-item-sliding
        *ngFor="let transaction of group.transactions" #slidingItem
        [attr.track]="transaction.isPaid | lowercase">
        <!--[attr.track]="transaction.tracks[0] | lowercase">-->
        <!--<ion-item routerLink="/app/tabs/schedule/transaction/{{transaction.id}}">-->
        <ion-item>
          <ion-label>
            <h3>{{transaction.name}}</h3>
            <p>
              <ion-text color="success"><b>{{transaction.amount}}</b></ion-text>
              <ion-text class="ion-margin-start" color="primary">{{transaction.category}}</ion-text>
            </p>
            <p>{{transaction.dueDate | date : 'fullDate'}}</p>
          </ion-label>
        </ion-item>
        <!--<ion-item-options>
          <ion-item-option color="favorite" (click)="addFavorite(slidingItem, transaction)" *ngIf="segment === 'all'">
            Favorite
          </ion-item-option>
          <ion-item-option color="danger" (click)="removeFavorite(slidingItem, transaction, 'Remove Favorite')"
            *ngIf="segment === 'favorites'">
            Remove
          </ion-item-option>
        </ion-item-options>-->
      </ion-item-sliding>
    </ion-item-group>
  </ion-list>

  <ion-list-header [hidden]="shownSessions > 0">
    No Sessions Found
  </ion-list-header>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
    <ion-fab-button>
      <ion-icon name="share-social"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="vimeo" (click)="openSocial('Vimeo', fab)">
        <ion-icon name="logo-vimeo"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="instagram" (click)="openSocial('Instagram', fab)">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="twitter" (click)="openSocial('Twitter', fab)">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="facebook" (click)="openSocial('Facebook', fab)">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
